/* HEADER STYLES ======================================================== */

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center; 
  color: #0b132b;
  line-height: 1.2;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center; 
  color: #3a506b;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-align: center; 
  margin: auto;
  max-width: 80%;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center; 
  color: #ffffff;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center; 
  color: #ffffff;
}

#dropdown {
  text-align: center;
  border-radius: 6px;
}

#ski-resorts {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center; 
}

#get-weather {
  background-color: #5bc0be;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
}

#get-weather:hover {
  background-color: #6fffe9;
}

img {
  margin: auto;
  display: block;
  height: auto;
  max-width: 80%;
  padding-top: 10px;
}

#title {
  /* display: inline-block; */
  background-color: #ffffff;
  max-width: 60%;
  margin: 0 auto;
  /* margin-top: -50px; */
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#title h2 {
  margin: 0;
}

#title h5 {
  margin-top: 0;
}

/* BUTTON STYLING ======================================================== */

#dropdown a {
  background-color: #5bc0be;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  min-width: 16%;
}

#dropdown a:hover {
  background-color: #6fffe9;
}  

#links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
}

#links a{
  background-color: #5bc0be;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
}

@media (max-width: 845px) {
  #links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 80%;
  }
  #links a{
    margin: 0 0 10px 0;
  }
}

#links a:hover {
  background-color: #6fffe9;
}  

/* WEATHER & RESORT BOXES =============================================== */

.container1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
}

@media (max-width: 780px) {
  #container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 80%;
  }
}

#current-weather,
#resort-facts {
  background-color: #1c2541;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0;
  width: 43%;
}

@media (max-width: 780px) {
#current-weather,
#resort-facts {
  background-color: #1c2541;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0;
  width: 100%;
}
}

#forecast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1c2541;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  /* padding-left: 40px;
  padding-right: 40px; */
  width: 80%;
  border-radius: 20px;
}

#forecast h5 {
  margin: 20px 20px -6px 20px;
}

#forecast p {
  margin-left: 30px;
  margin-right: 30px;
}

/* FOOTER ============================================================== */

.footer {
  background-color: #0b132b;
  color: #ffffff;
  padding: 10px 10px 10px 30px;
  margin: 300px 0 0 0;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  margin: 4px;
}

.footer p {
  text-align: left;
  font-size: 12px;
  margin: 4px;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.footer a:hover {
  color: #6fffe9;
}